@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page { margin: 0; }
  body { margin: 1cm; }
  .no-print { display: none !important; }
  .print-only { display: flex !important; justify-content: center; align-items: center; height: 100vh; }
}
